---
layout: default
title: Resume
---

<link href="assets/css/resume_screen.css" type="text/css" rel="stylesheet" media="screen">
<link href="assets/css/resume_print.css" type="text/css" rel="stylesheet" media="print">

<body>
    <div id="main">
        <div id="content">
            <h1> Jose Manuel<br>Del Valle Delgado</h1>
            <div id="webaddress">
                {% for item in site.data.settings.social %}
                <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}"
                        aria-hidden="true"></i></a>
                {% endfor %}
            </div>
            {{content}}
        </div>
    </div>
</body>